/*-- Reset Code --*/
body {
	padding: 0;
	margin: 0;
	height: 100vh !important;
	overflow: hidden;
	background: #000000;
	font-family: 'Source Sans Pro', sans-serif;
}
body a {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	text-decoration: none;
}
body a:hover {
	text-decoration: none;
}
body a:focus, a:hover {
	text-decoration: none;
}
input[type="button"], input[type="submit"] {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	text-align: center;
}
p {
	margin:0;
}
ul {
	margin:0;
	padding:0;
}
label {
	margin:0;
}
a:focus, a:hover {
	text-decoration: none;
	outline: none
}
img {
	width: 100%;
}
.clear{
	clear:both;
}
/*-- //Reset Code --*/
body{
	margin: 0;
	padding: 0;
}

.errorpagephoto {
		background:url('http://venatordesign.me/assets/images/errorpage.jpg') no-repeat center;
    background-size: auto;
    width: 100%;
    height: 100%;
}
.main{
	width:65%;
	margin:70px auto 0px auto;
	text-align:center;
}
.main h2{
	font-size:80px;
	font-weight:400;
	color:#000;
}
.main h1{
	font-size:170px;
	font-weight:400;
	color:#000;
}
.main h1 img{
	width:11%;
}
.main h3{
	margin:30px 0px;
	font-size:28px;
	font-weight:400;
	color:#000;
}
a.back{
	display:inline-block;
	color:#ffffff;
	border:5px solid #ffffff;
	padding:2px 2px;
	margin-bottom:0px;
}
a.back:hover{
	color:#fff;
	border:1px solid #fff;
	transition:all 0.5s ease-in-out;
}
.main ul {
     margin:0;
	 width:57%;
	 margin:0 auto;
}
.main ul li{
	display:inline;
}
.main ul li a {
    width: 40px;
    height: 40px;
    background: url('../images/img-sprite.png') no-repeat -160px -43px;
    display: inline-block;
    border: none;
    background-size: 400px;
}
.main ul li a.facebook {
    background: url('../images/img-sprite.png') no-repeat -200px -43px;
    background-size: 400px;
}
.main ul li a.pinterest {
    background: url('../images/img-sprite.png') no-repeat -240px -43px;
    background-size: 400px;
}
.main ul li a.twitter:hover {
    background: url('../images/img-sprite.png') no-repeat -160px 0px;
    background-size: 400px;
}
.main ul li a.facebook:hover {
    background: url('../images/img-sprite.png') no-repeat -200px 0px;
    background-size: 400px;
}
.main ul li a.pinterest:hover {
    background: url('../images/img-sprite.png') no-repeat -240px 0px;
    background-size: 400px;
}
.footer{
	text-align:center;
	margin-top:100px;
}
.footer p{
	font-size:16px;
	color:#ffffff;
}
.footer a{
	color:#ffffff;
	font-size:16px;
	border:none;
	padding:0;
}
.footer a:hover{
	color:#fff;
	font-size:16px;
}


.altababy2 {
  position: fixed;
  display: block;
  bottom: 140px;
  width: 100%;
  text-align: center;
}

.altababy2 img {
  width: 150px;
}


.altababy {
position: absolute;
bottom: 0;
text-align: center;
width: 100%
}
